* {
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 200px;
  height: 70px;
}

main {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: calc(50vh/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#result_tuuchan {
  width: 300px;
  height: 300px;
}